{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
	"pluginSearchDirs": false,
	"printWidth": 100,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
